.page-background {
    background-color: #181b1e;
    color: #d0d0d0;
}

.background {
    background-color: #1C1F23;
    color: #d0d0d0;
}

.text-color {
    color: #d0d0d0;
}

.link-color {
    color: #d0d0d0;
}

.link-color:hover, .link-color:focus {
    color: #ffffff;
}

.btn-color {
    color: #000;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-color:hover {
    color: #000;
    background-color: #f9fafb;
    border-color: #f9fafb;
}

.btn-color:focus {
    color: #000;
    background-color: #f9fafb;
    border-color: #f9fafb;
    box-shadow: 0 0 0 0.25rem rgba(211, 212, 213, 0.5);
}

.add_icon {
    content: url("../static/add_white.svg");
}

.sub_icon {
    content: url("../static/sub_white.svg");
}

.cart_icon {
    content: url("../static/add_cart_white.svg");
}

#dark_mode_icon {
    content: url("../static/dark_icon.svg");
}

#btn-btt-img {
    content: url("../static/arrow_upward_black.svg");
}

#navbar_icon {
    content: url("../static/hamburger_white.svg");
}

.github_icon {
    content: url("../static/github_white.svg");
    width: 50px;
    height: 50px;
}

.card_border {
    border-color: rgba(0, 0, 0, .125);
}

