.page-background {
    background-color: #ffffff;
    color: #181b1e;
}

.background {
    background-color: #f0f0f0;
    color: #1C1F23;
}

.text-color {
    color: #212529;
}

.link-color {
    color: #212529;
}

.link-color:hover, .link-color:focus {
    color: #1a1e21;
}

.btn-color {
    color: #fff;
    background-color: #212529;
    border-color: #212529;
}

.btn-color:hover {
    color: #fff;
    background-color: #1c1f23;
    border-color: #1a1e21;
}

.btn-color:focus {
    color: #fff;
    background-color: #1c1f23;
    border-color: #1a1e21;
    box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5);
}

.add_icon {
    content: url("../static/add_black.svg");
}

.sub_icon {
    content: url("../static/sub_black.svg");
}

.cart_icon {
    content: url("../static/add_cart_black.svg");
}

#dark_mode_icon {
    content: url("../static/light_icon.svg");
}

#btn-btt-img {
    content: url("../static/arrow_upward_white.svg");
}

#navbar_icon {
    content: url("../static/hamburger_black.svg");
}

.github_icon {
    content: url("../static/github_black.svg");
    width: 50px;
    height: 50px;
}

.card_border {
    border-color: rgba(0, 0, 0, .125);
}
