.hover_expand {
    transition: transform .4s; /* Animation */
    backface-visibility: hidden;
}

.hover_expand:hover {
    transform: scale(1.02); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    cursor: pointer;
}

#darkSwitch {
    transform: rotate(-90deg);
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0;
}

.dropdown-item:hover {
    background-color: var(--bs-secondary);
}

.rounded-5 {
    border-radius: 1rem;
}

.bg-vdark {
    background-color: #181b1e;
}