[data-theme="dark"] {
    background-color: #111 !important;
    color: #eee;
}

[data-theme="dark"] .bg-black {
    background-color: #fff !important;
}

[data-theme="dark"] .bg-dark {
    background-color: #eee !important;
}

[data-theme="dark"] .bg-light {
    background-color: #222 !important;

}

[data-theme="dark"] .bg-white {
    background-color: #000 !important;
}

[data-theme="dark"] .card{
    background-color: #222 !important;
    color: #eee;
}

[data-theme="dark"] .custom-control-label{
    color: #eee;
}

[data-theme="dark"] .dropdown-menu{
    background-color: #111 !important;
    color: #eee;
}

[data-theme="dark"] .dropdown-item{
    color: #eee;
}

[data-theme="dark"] #dropdownMenuLink{
    color: #eee;
}

[data-theme="dark"] #about{
    color: #eee;
}

[data-theme="dark"] #home{
    color: #eee;
}

[data-theme="dark"] #products{
    color: #eee;
}

[data-theme="dark"] #gallery{
    color: #eee;
}

[data-theme="dark"] #login{
    color: #eee;
}

[data-theme="dark"] #logB{
    color: #eee;

}

[data-theme="dark"] #myAcc{
    color: #eee;

}

[data-theme="dark"] #jarr{
    color: #eee;
}

[data-theme="dark"] #josh{
    color: #eee;
}

[data-theme="dark"] #jon{
    color: #eee;
}

[data-theme="dark"] #brady{
    color: #eee;
}
[data-theme="dark"] #shady{
    color: #eee;
}

[data-theme="dark"] #faq{
    color: #eee;
}

[data-theme="dark"] #ship{
    color: #eee;
}

[data-theme="dark"] #contact{
    color: #eee;
}
[data-theme="dark"] #phone{
    color: #eee;
}
[data-theme="dark"] #email{
    color: #eee;
}

[data-theme="dark"] #foot{
    background-color: #222 !important;
}


[data-theme="dark"] #mainNav{
    border: #222 !important;
}

[data-theme="dark"] .dropdown-item:hover{
    background-color: #222 !important;
}

a{
    color: black;
}







